@charset "utf-8";

.device-edit-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-width: 800px;
    border: 1px solid black;
}

.device-edit-grid * {
    text-align: center;
}

input[type=text] {
    border: 0;
}