/* 모든 페이지에 들어가는 공통적인 css*/

/*문자 인코딩 설정*/
@charset "utf-8";

* {
    color: black;
}

h1 {
    text-align: center;
    font-size: 40pt;
}

/*flex를 이용한 가운데 정렬*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*table 관련 속성*/

/*table item 사이의 간격 지정 및 기타 ui*/
.device-list-table {
    border-spacing: 1vw;

    min-width: 800px;
    border: black solid 1px;
}

/*table의 글자 가운데 정렬*/
.device-list-table thead, tbody td, th {
    text-align: center;
}

/* tbody 속 tr hover시 마우스 자연스럽게 */
.device-list-table tbody tr {
    cursor: pointer;
}

/*마우스 올려놓으면 그림자*/
.list-can-click:hover {
    box-shadow: 0px 0 5px 0 black;
}