@charset "utf-8";

* {
  color: black;
}

h1 {
  text-align: center;
  font-size: 40pt;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-list-table {
  border-spacing: 1vw;

  min-width: 800px;
  border: black solid 1px;
}


.device-list-table thead,tbody td, th {
  text-align: center;
}