.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 800px;
}

.grid * {
    margin: 1vh;
    font-size: 16pt;
}

.grid label {
    grid-column: 1;
}

.grid input[type=submit] {
    grid-column: 1/3;
}

#delete {
    grid-column: 1/3;
    color: red;
}
