.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 800px;
}

.grid * {
  margin: 1vh;
  font-size: 16pt;
}

.grid label {
  grid-column: 1;
}

.grid #submit {
  grid-column: 1/3;
}
