<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기기 정보 수정</title>
    <link rel="stylesheet" href="/css/everywhere.css">
    <link rel="stylesheet" href="/css/registerDevice.css">

    <script src="/js/clickToEdit.js"></script>
</head>
<body>

<h1>수정 및 삭제</h1>

<main class="container">
    <form class="grid" action="edit/submit" method="post">

        <label for="module_id">id</label>
        <input name="module_id" id="module_id" th:placeholder="${selectedDevice.getId()}"
               th:value="${selectedDevice.getId()}" readonly>

        <label for="module_type">모듈종류</label>
        <select name="module_type" id="module_type">
            <option selected hidden th:value="${selectedDevice.getType()}"
                    th:text="${deviceKorType}"></option>
            <option value="light">전등</option>
            <option value="window">창문</option>
            <option value="blind">블라인드</option>
            <option value="gas">가스</option>
        </select>

        <label for="module_name">모듈이름</label>
        <input type="text" name="module_name" id="module_name" th:placeholder="${selectedDevice.getNickname()}"
               th:value="${selectedDevice.getNickname()}">

        <label for="module_owner">소유자명</label>
        <input type="text" name="module_owner" id="module_owner" th:placeholder="${selectedDevice.getOwner()}"
               th:value="${selectedDevice.getOwner()}">

        <label for="module_power">ON/OFF</label>
        <select name="module_power" id="module_power">
            <option value="1" th:selected="${selectedDevice.getPower()==1}">ON</option>
            <option value="0" th:selected="${selectedDevice.getPower()==0}">OFF</option>
        </select>

        <input type="submit" id="edit" value="수정">

        <input type="button" id="delete" value="삭제" th:attr="onclick='clickToDelete('+${selectedDevice.getId()}+')'">
    </form>

</main>
</body>
</html>