<!--메인 페이지-->
<!--다른 페이지로 넘어가는 링크 존재 및 각 동작 수행 후 돌아오는 페이지-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IoT 메인</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/everywhere.css">
    <link rel="stylesheet" href="/css/index.css">

    <script th:inline="javascript">

        // 성공 알람.
        (() => {
            if ([[${bIsRegistered}]] == true)
                alert("성공적으로 저장되었습니다.");

            if ([[${bIsEdited}]] == true)
                alert("성공적으로 수정되었습니다.")

            if ([[${bIsRemoved}]] == true)
                alert("성공적으로 제거되었습니다.")
        })();
    </script>
</head>

<body>
<h1>IoT 기기관리 서비스</h1>

<section class="container">
    <a class="item" href="/register">기기 등록</a>
    <a class="item" href="/show">기기 조회 & 수정</a>
</section>

</body>

</html>