<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IoT 메인</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/everywhere.css">
    <link rel="stylesheet" href="/css/index.css">

    <script th:inline="javascript">
        (()=> {
            if([[${bIsRegistered}]]==true)
            alert("성공적으로 저장되었습니다.");
        })();
    </script>
</head>

<body>
    <h1>IoT 기기관리 서비스</h1>

    <section class="container">
        <a class="item" href="/register">기기 등록</a>
        <a class="item" href="/show">기기 조회 & 수정</a>
    </section> 

</body>

</html>