<!DOCTYPE html>
<html lang="ko">

<head>
    <title>기기 등록</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>기기 등록</h1>

<form>
<!--    실제 모듈 종류 및 value 지정 필요-->
    <label for="module_type-select">모듈 종류 : </label>
    <select name="module_type" id="module_type-select">
    <option value="">선택해주세요</option>
    <option value="">전등</option>
    <option value="">창문</option>
    <option value="">블라인드</option>
    <option value="">가스</option>
    </select>

    <label for="module_name-text">모듈 이름 : </label>
    <input type="text" name="module_name" id="module_name-text">

    <label for="module_owner-text">소유자명 : </label>
    <input type="text" name="module_owner" id="module_owner-text">

</form>
</body>

</html>