<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기기 조회</title>
    <link rel="stylesheet" href="/css/everywhere.css">
    <script src="/js/clickToEdit.js"></script>
</head>
<body>

<h1>기기 조회</h1>

<main class="container">

    <table class="device-list-table">
        <thead>
        <tr>
            <td>id</td>
            <td>모듈종류</td>
            <td>모듈이름</td>
            <td>소유자명</td>
            <td>ON/OFF</td>
            <td>Status</td>
        </tr>
        </thead>
        <tr th:each="device : ${deviceList}" th:id="${device.getId()}"
            th:attr="onclick='clickToEdit('+${device.getId()}+')'" class="list-can-click">
            <td th:text="${device.getId()}"></td>
            <td th:text="${device.getType()}"></td>
            <td th:text="${device.getNickname()}"></td>
            <td th:text="${device.getOwner()}"></td>
            <td th:text="${device.getPower()}"></td>
            <td th:text="${device.getStatus()}"></td>
        </tr>
        <tbody>
        </tbody>
    </table>

</main>
</body>
</html>